:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

body {
  font-size: 1.125rem;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--cream);
  max-width: 375px;
  margin: .5rem;
}

.balance {
  background-color: var(--soft-red);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance h2 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  color: hsl(27, 66%, 92%);
}

.balance__content p {
  margin: 0;
  font-size: 1.75rem;
}

.card__struct {
  padding: 1.125rem 1.5rem;
  border-radius: 0.75rem;
}

.balance__icon {
  display: flex;
}

.translate {
  transform: translateX(50%);
}

.circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.circle--white {
  border: 2px solid white;
}

.circle--brown {
  background-color: var(--dark-brown);
  border: 2px solid var(--dark-brown);
}

.graph__wrapper {
  background-color: var(--very-pale-orange);
  margin: 1rem auto;
}

.graph__wrapper h1 {
  margin: 0;
}

.graph {
  padding-top: 3rem;
  border-bottom: 2px solid var(--cream);
  padding-bottom: 1rem;
}

.graph__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  grid-gap: 1rem;
}

.graph__columns  {
  /* height: 240px; */
  align-items: end;
}

.graph__header {
  color: var(--medium-brown);
  margin-top: 0.75rem;
}

.graph__header p {
  margin: 0;
}

.graph__bar {
  border-radius: .25rem;
  height: 36px;
  background-color: var(--soft-red);
    /* background-color: var(--cyan); */
}

.graph__bar:hover {
  opacity: .8;
  cursor: pointer;
}

.graph__amount {
  display: none;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
  /* width: 100%; */
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  padding: 0 0.25rem;
  font-size: .75rem;
}

.graph__amount--active {
  opacity: 1;
}

.amount.graph__grid {
  grid-gap: 0;
}


.total {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.5rem;
  align-items: end;
}

.total p {
  margin: 0;
}

.total p {
  margin-bottom: 8px;
  color: var(--medium-brown);
}

.total strong {
  color: var(--dark-brown);
}

.total__month strong {
  font-size: 2rem;
}

.total__month--last {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.total__month--last p {
  margin-bottom: 8px;
}

@media (min-width: 396px) {
  body {
    margin: 40px auto;
  }
}

@media (min-width: 742px) {
  body {
    max-width: 550px;
    margin: 40px auto;
  }

  .graph__amount {
    display: block;
  }
}
