/* VARIABLES */
:root {
  /* ### Primary */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* ### NEUTRAL */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);

  --body-font: 'Ubuntu', sans-serif;
  --font-size: 16px;
}

.mobile {
  width: 375px;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--body-font);
  color: var(--marine-blue);
}

.layout {
  display: grid;
  grid-template-rows: 3fr 8fr 1fr;
  min-height: 100vh;
}

/* UTILITIES */

.list {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1.2rem;
  margin: 0;
}


/* COMPONENT */

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
  font-weight: bold;
}

.list__item {
  display: flex;
}

.list__item p {
  margin: 0;
}

.list__item.active > p {
  background-color: var(--light-blue);
  color: var(--marine-blue);
  border-color: var(--light-blue);
}

/* NAVBAR */

.navbar__background {
  background-size: cover;
  background-position: center;
  background-image: url("/assets/images/bg-sidebar-mobile.svg");
}

.navbar {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  color: var(--white);
}

/* NAV ITEM */
.nav__item {
  display: none;
}

.nav__item .sub__header {
  margin: 0;
  opacity: .8;
  font-weight: 300;
}

.nav__item .item__header {
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.container {
  width: 100%;
  position: relative;
}

.card {
  position: absolute;
  top: -56px;
  background-color: var(--white);
  padding: 24px 16px;
  border-radius: 8px;
  margin: 0 12px 0 12px;
  box-shadow: 1px 1px 10px rgba(50, 50, 50, 0.1);
}

.card p, .card__header {
  margin: 0;
}

.card__header {
  margin-bottom: .5rem;
}


/* FORM */
.form__group {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input[type="text"] {
  padding: 12px 0 12px 12px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: var(--light-gray);
  border-width: 1px;
}

input[type="text"]:focus, input[type="text"]:focus-visible  {
    border-color: var(--cool-gray);
    border-width: 1px;
    border: 2px solid var(--light-gray);
    outline: none;
}



@media (min-width: 1440px) {
  .layout {
    padding: 1rem;
      grid-template-rows: none;
      grid-template-columns: 1fr 3fr;
      gap: 7rem;
  }
  .navbar {
    display: block;
      padding: 36px;
      border-radius: 8px;
  }

  .navbar__background {
  background-image: url("/assets/images/bg-sidebar-desktop.svg");
  }

  .nav__item .item__header {
    letter-spacing: 1.2px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .nav__item {
    display: block ;
    text-transform: uppercase;
  }

  .list__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
